html
{
	background-color: lightblue;
	color: black;
}
h1
{
	color: red;
	text-align: center;
	font-size: 34pt;
}
h2
{
	text-align: center;
	color: purple;
	font-size: 30pt;
}
p
{
	text-align: justify;
	font-size: 15pt;
}
body
{
	text-align: center;
}
ol
{
	text-align: left;
	font-size: 15pt;
}
#valid
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

#center
{
	text-align: center;
}
#Toc /* This was typed here because the intention was to only change the title of the table of contents and not the typing under it*/
{
	font-size: 27pt;
	color: maroon;
}
.Tabs
{
	font-size: 20pt;
	text-align: center;
}
#list
{
	font-size: 15pt;
	color: brown;
}
img
{
	border-color: black;
	border-width: thick;
	border-style: solid;
	padding: 0%
}
	

