{
	text-align: center;
	color: purple;
	font-size: 30pt;
}
p
{
	text-align: justify;
	font-size: 15pt;
}
body
{
	text-align: center;
}
ol
{
	text-align: left;
	font-size: 15pt;
}
#valid
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#center
{
	text-align: center;
}
#Toc
{
	font-size: 27pt;
	color: maroon;
}
.Tabs
{
	font-size: 20pt;
	text-align: center;
}
#list
{
	font-size: 15;
	color: brown;
}
	

